.imacard{
    border-style: solid;
    background-color: aquamarine;
    border-width: 10px;
    border-color:aliceblue;
    padding: 15px;
    margin-right: 200px;
    margin-left: 200px;
    font-weight: bold;
    font-size:x-large;
    
}
body{
    background-color:beige ;
}
#srednji{
    border-top-style: none;
    border-bottom-width: 0px;
}
.treci{
    margin-left: 210px;
}
#bigbutton{
    margin-left: 160px;
    background-color: white;
    margin-right: 160px;
    padding: 5px;
    padding-left: 10px;
    
    
}